<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Athiti:wght@500&family=Heebo&family=Kalam:wght@700&family=Mukta:wght@300&family=Pompiere&family=Poppins:wght@200&family=Secular+One&family=Wix+Madefor+Text&display=swap"
    rel="stylesheet" />
  <<<<<<< HEAD <link rel="stylesheet" href="/css/style.css" />
  =======
  <link rel="stylesheet" href="/css/style.css" />
  >>>>>>> main
  <title>Portifólio</title>
</head>

<body>
  <main>

    <section class="header">
      <h1>Dev Portifólio</h1>
      <h2>Fullstack</h2>
    </section>

    <section class="conteudo">

      <p class="texto">
        *Ligia Couto - ligiacouto05@gmail.com - Vitória-ES* <br>
        Entrei no mundo da programação totalmente
        focada em aprender cada dia mais.
        Eu entendo de front-end, mas minha preferencia
        é o back-end.
        Eu tenho um bom conhecimento de
        Html,CSS, e JavaScript,
        mas não quero parar por aí, eu sou uma pessoa
        curiosa e sempre procuro soluções para
        os problemas que eu não sei resolver.
        Gosto de desafios e não desisto
        até que o trabalho esteja pronto.</p>
    </section>

    <section class="dev">
      <h4>Programação-Dev</h4>
      <article>
        <h5>2021-2022</h5>
        <h5> Curso de Fullstack na Escola Digital House </h5>
        <p> Sob orientação do professor Sergio Siqueira eu aprendi
          a desenvolver dois websites um ecommerce e um que ajuda na
          escolha de filmes,todos os projetos pos mim desenvolvidos, passaram por
          todas as etapas de front-end e back-end incluindo banco de dados.</p>
      </article>
      <article>
        <h5>2023</h5>
        <h5>Curso Livre de aulas particulares com o professor Leonardo Carvalho</h5>
        <p>O professor Leonardo ofereceu essa oportunidade unica que são essas
          particulares em que estou fixando conteudos e ele serve como um guia
          pros atuais projetos.Estou aprendendo usar Ferramentas como
          React, e Bootstrap, pois como eu disse antes quero aprender tudo possivel e
          ser uma profissional modelo.
        </p>
      </article>
    </section>

    <section class="instiuicoes">
      <h3 class="education">
        <span class="education-title">Educação</span>
      </h3>

      <div class="barra-pai">
        <div class="barra">
          <h4>2006-2010</h4>
          <p>
            Universidade do Sul de Santa Catarina. <br />
            Curso - Cinema e Vídeo
          </p>
          <h4>2011-2012</h4>
          <p>
            Meliés São Paulo <br />
            Curso de CGI e Animaçã 3d <br />
          </p>
        </div>
        <div class="barra">
          <div class="barra-filho">
            <h4>2013</h4>
            <p>
              Gnomon - School of VFX, Games & Animation
            </p>
          </div>
          <div class="barra-filho">
            <h4>2015-2018</h4>
            <p>Universidade do Sul de Santa Catarina
              Curso - Logistica
            </p>
          </div>
          <div class="barra-filho">
            <h4>2019</h4>
            <p>Pós Graduação em Logistica e Comércio Exterior</p>
          </div>
        </div>
      </div>

      <article class="others">
        <a href="/trabalhos" class="bt_cgi">Alguns trabalhos em CGI</a>
        <nav class="ref">
          <ul>
            <li><a href="https://github.com/sergiomoura">Referencias</a></li>
            <li><a href="http://github.com/carvalholeo">Referencias</a></li>
          </ul>
        </nav>
      </article>
    </section>
    <<<<<<< HEAD=======<section>
      <article>
        <h2>Deixe uma mensagem para mim</h2>

        <form action="/mensagens">
          <textarea rows="4" cols="50" name="comment" required>
         </textarea>
          <input type="submit">
        </form>
      </article>
      </section>
      >>>>>>> main

  </main>
</body>

</html>