<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="/css/trabalhos.css" /> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <title>trabalhos</title>
</head>

<body class="bg-light text-dark">
  <div class="container">
    <header>
      <h1>Dev Portifólio</h1>
      <h2>Fullstack</h2>
    </header>
    <section class="texto_primeiro">
      <p>
        Já estudei e trabalhei durante o ano de 2011 e 2012 em São Paulo em um
        curso livre de CGI e animação em 3D nesse período eu ganhei intimidade
        com a area de tecnologia. Eis algumas imagens em que qu fiz a
        modelagem,iluminação, textura e renderização, essas eram minhas areas de
        atuação.
      </p>
    </section>
    <div class="container-fluid">
      <div class="row">
        <img class="col-12 col-sm-6 col-md-4 mb-3 rounded-5" src="/images/cat and character.jpg" width="300px" heigth="150px" alt="" />
        <img class="col-12 col-sm-6 col-md-4 mb-3 rounded-5" src="/images/cat_scene.jpg" width="300px" heigth="150px" alt="" />
        <img class="col-12 col-sm-6 col-md-4 mb-3 rounded-5" src="/images/image2_Main.1.png" width="300px" heigth="150px" alt="" />
        <img class="col-12 col-sm-6 col-md-4 mb-3 rounded-5" src="/images/light.jpg" width="300px" heigth="150px" alt="" />
        <img class="col-12 col-sm-6 col-md-4 mb-3 rounded-5" src="/images/Render_Main.1.png" width="300px" heigth="150px" alt="" />
        <img class="col-12 col-sm-6 col-md-4 mb-3 rounded-5" src="/images/stairs.jpg" alt="" />
      </div>
    </div>
    <section class="texto_segundo">
      <p>
        Após trabalhar muitos anos na area
        de Logistica e Comércio exterior, eu volto para
        area de tecnologia,através da programação, é possivel ter acesso a
        alguns dos meus dos meus projetos.
        <a href="https://github.com/ligia05"> Nesse link</a>
  
      </p>
    </section>
  </div>
</body>

</html>