* {
  
  font-family: 'Wix Madefor Text', sans-serif;
  box-sizing: border-box;

}




body{
  
  background-color:  rgb(78, 75, 75);
  

  
}

header{
    color: rgb(24, 24, 24);
    margin-left: 40px;
    margin-top: 20px;
    width: 400px;
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgb(250, 243, 46), 0 0 0.1em rgba(177, 177, 239, 0.477), 0 0 0.1em rgba(222, 236, 230, 0.698);
    font-weight: bolder;
    display: block;;
  }




nav{

  width: 200px;
  height: 150px;
margin-left: 20px;


}
ul{
  background-color:  rgb(25, 24, 24);
  border-radius: 5px;
  border:solid;
box-shadow: 2px 3px 3px rgb(117, 212, 117);
  border-color: green;
  margin-left: 20px;
}

.lista > a {
  color: antiquewhite;
}
main > a:link, main a:visited {
  text-decoration: none;
  color: #ddd;
}
 .lista:hover{
  font-size: 1.5rem;
 }


.conteudo{
  background-color:  rgb(25, 24, 24);
  border-radius: 5px;
  border:solid;
position: block;
  border-color: rgb(246, 218, 36);
  color: antiquewhite;
 

  margin-left: 320px;
margin-top: -340px;
  padding: 25px;
  width: 70%;
  height:400px ;
  font-size: 25px;
}
.texto{
  margin-left: 400px;
  margin-top: -10px;
}


.education{
  background-color: yellow;
  font-size: 3rem;
  color: black;
  width: 280px;
  position: absolute;

  margin-left: 300px;
  height: 60px;
  margin-top: 50px;
  border-radius: 8px;

}



.barra_um{
position: inherit;

margin-left: 60px;
color: antiquewhite;
width: 150px;
margin-top: 50px;
}
.barra_dois{
position: relative;
margin-left: 80px;
color: antiquewhite;
width: 150px;
margin-top: 50px;
}
.instiuicoes{
  border: solid yellow;
  border-radius: 5px;
  width: 40%;
  margin-left: 590px;
display: flex;
margin-top: 30px;
}
.dev{
  color: rgb(10, 8, 6);
  font-size: 25px;
  margin-top: -420px;
  width: 52%;
  background-color: rgba(255, 217, 0, 0.73);
  border: solid;
  border-radius: 8px;
}
.curso_letras{
  margin-left: 10px;
}
.bt_cgi{
  border-radius: 8px;
  margin-left: 350px;
  margin-top: -400px;
  width: 200px;
  height: 50px;
}
.ref{
  width: 220px;
  margin-left: 680px;
}

