:root {
  --body-background: rgb(78, 75, 75);
  --amarelo: rgb(250, 243, 46);
  --azul-desconhecido: rgba(177, 177, 239, 0.477);
  --verde-acizentado: rgba(222, 236, 230, 0.698);
  --text-color-light: antiquewhite;
  --text-color-dark: black;
  --chumbo: rgb(24, 24, 24);
  --amarelo-com-transparencia: rgba(255, 217, 0, 0.73);
  --border-radius: 0.5rem;

  font-size: 16px;
}

* {
  font-family: "Wix Madefor Text", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--body-background);
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.header {
  color: rgb(24, 24, 24);
  margin-top: 20px;
  width: 30%;
  font-size: 2rem;
  text-shadow: 1px 1px 1px var(--amarelo), 0 0 0.1em var(--azul-desconhecido),
    0 0 0.1em var(--verde-acizentado);
  font-weight: bolder;
  display: inline-block;
}

.header > h1,
.header > h2 {
  display: inline;
}

.conteudo {
  background-color: var(--chumbo);
  border-radius: var(--border-radius);
  border: solid;
  display: flex;
  border-color: var(--amarelo);
  color: var(--text-color-light);
  padding: 1.5rem;
  width: 70%;
  font-size: 1.5rem;
  align-items: center;
}

.conteudo .texto {
  line-height: 3rem;
}

.education {
  font-size: 3rem;
  color: var(--text-color-dark);
  display: block;
  height: 60px;
  width: 100%;
  text-align: center;
  margin: -3rem auto 0 auto;
}

.education-title {
  text-align: center;
  background-color: var(--amarelo);
  border-radius: var(--border-radius);
  display: inline-block;
  padding: 0.5rem;
}

.barra {
  color: var(--text-color-light);
  width: 45%;
  padding: 1rem 1rem 0 1rem;
  display: block;
}

.barra-pai {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.instiuicoes {
  border: solid var(--amarelo);
  border-radius: var(--border-radius);
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 1.5rem;
}

.dev {
  color: var(--chumbo);
  font-size: 1.56rem;
  margin-top: 3rem;
  width: 45%;
  background-color: var(--amarelo-com-transparencia);
  border: solid;
  border-radius: var(--border-radius);
  padding: 1.5rem;
}

.others {
  margin-top: 3rem;
  width: 55%;
  display: block;
}

.bt_cgi:link {
  text-decoration: none;
  color: var(--chumbo);
}

.bt_cgi {
  border-radius: var(--border-radius);
  width: 100%;
  height: auto;
  min-height: 3rem;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color-light);
}

.bt_cgi:hover {
  background-color: var(--amarelo);
  color: var(--chumbo);
}

.bt_cgi:visited {
  color: var(--chumbo);
}

.ref > ul {
  display: inline-block;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.ref > ul > li {
  list-style: none;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

.ref > ul > li > a:link {
  text-decoration: none;
  color: var(--chumbo);
}

.ref > ul > li > a {
  border-radius: var(--border-radius);
  height: 3rem;
  height: auto;
  min-height: 3rem;
  text-align: center;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color-light);
}

.ref > ul > li > a:hover {
  background-color: var(--amarelo);
  color: var(--chumbo);
}
